{% extends "padre.html" %}

{% load static %}

{% block titulo %}
<h1> Formulario de Productos</h1>

{% endblock %}

{% block contenido_que_cambia %}

<h3> {{ mensaje }} </h3>

<form action="{% url 'productosFormulario' %}" method="POST"> {% csrf_token %}
    <table>

        {{ form.as_table }}

    </table>


    <input type="submit" value="Guardar Producto">




</form>

<h1>
    
</h1>
<a class="btn btn-secundary" href="{% url 'busquedaProductos' %}">Buscar Productos</a>
<h1>

</h1>
<a class="btn btn-secundary" href="{% url 'inicio' %}">Volver</a>
{% endblock %}